version: "3.9"

services:

  # =======================
  # EUREKA SERVICE REGISTRY
  # =======================
  serviceregistry:
    build: ./serviceregistry
    container_name: serviceregistry
    ports:
      - "8761:8761"

  # =======
  # MYSQL
  # =======
  mysql:
    image: mysql:8
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: 123456
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    command: --innodb_data_file_path=ibdata1:50M:autoextend:max:100M --innodb_log_file_size=10M

  # ==========
  # ZOOKEEPER
  # ==========
  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
    ports:
      - "2181:2181"

  # =====
  # KAFKA
  # =====
  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  # ========
  # USER MS
  # ========
  userms:
    build: ./userms
    container_name: userms
    depends_on:
      - mysql
      - serviceregistry
    ports:
      - "8080:8080"

  # =========
  # PROFILE
  # =========
  profile:
    build: ./profile
    container_name: profile
    depends_on:
      - mysql
      - serviceregistry
      - kafka
    ports:
      - "8081:8081"

  # ==================
  # DRIVING LICENSE
  # ==================
  dl:
    build: ./drivinglicense
    container_name: drivinglicense
    depends_on:
      - mysql
      - serviceregistry
    ports:
      - "8082:8082"

  # ========
  # VEHICLE
  # ========
  vehicle:
    build: ./vehicle
    container_name: vehicle
    depends_on:
      - mysql
      - serviceregistry
    ports:
      - "8083:8083"

  # =========
  # BOOKING
  # =========
  booking:
    build: ./booking
    container_name: booking
    depends_on:
      - mysql
      - serviceregistry
    ports:
      - "8084:8084"

  # ================
  # NOTIFICATION
  # ================
  notification:
    build: ./notification
    container_name: notification
    depends_on:
      - mysql
      - serviceregistry
      - kafka
    ports:
      - "8085:8085"

  # ==========
  # API GATEWAY
  # ==========
  gateway:
    build: ./gateway
    container_name: gateway
    depends_on:
      - serviceregistry
      - userms
      - profile
      - vehicle
      - booking
      - notification
      - dl
    ports:
      - "9000:9000"

volumes:
  mysql_data:
