spring:
  application:
    name: gateway

  codec:
    max-in-memory-size: 20MB

  cloud:
    gateway:
      routes:

        # ================= USER SERVICE =================
        - id: userms
          uri: http://localhost:8080
          predicates:
            - Path=/user/**
          filters:
            - TokenFilter

        # ================= PROFILE SERVICE =================
        - id: car-owners
          uri: http://localhost:8081
          predicates:
            - Path=/car-owners/**
          filters:
            - TokenFilter

        - id: renters
          uri: http://localhost:8081
          predicates:
            - Path=/renters/**
          filters:
            - TokenFilter

        - id: profile-kyc
          uri: http://localhost:8081
          predicates:
            - Path=/kyc/**
          filters:
            - TokenFilter

        # ================= VEHICLE SERVICE =================
        - id: vehicles
          uri: http://localhost:8083
          predicates:
            - Path=/vehicles/**
          filters:
            - TokenFilter

        # ================= DRIVING LICENSE =================
        - id: drivinglicense
          uri: http://localhost:8082
          predicates:
            - Path=/dl/**
          filters:
            - TokenFilter

        # ================= BOOKING SERVICE =================
        - id: bookings-renter
          uri: http://localhost:8084
          predicates:
            - Path=/renter/bookings/**
          filters:
            - TokenFilter

        - id: bookings-owner
          uri: http://localhost:8084
          predicates:
            - Path=/owner/bookings/**
          filters:
            - TokenFilter

        - id: bookings-admin
          uri: http://localhost:8084
          predicates:
            - Path=/admin/bookings/**
          filters:
            - TokenFilter

        # ================= DASHBOARD SERVICE =================
        - id: admin-dashboard
          uri: http://localhost:8085
          predicates:
            - Path=/dashboard/**
          filters:
            - TokenFilter

        # ================= NOTIFICATION SERVICE =================
        - id: notifications
          uri: http://localhost:8086
          predicates:
            - Path=/notifications/**
          filters:
            - TokenFilter

      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Origin Access-Control-Allow-Credentials RETAIN_UNIQUE

      globalcors:
        cors-configurations:
          '[/**]':
            allowed-origins: "*"
            allowed-methods: "*"
            allowed-headers: "*"
            allow-credentials: false

server:
  port: 9000
  address: 0.0.0.0
