spring:
  application:
    name: gateway

  cloud:
    gateway:
      routes:

        # ---------------- USER SERVICE ----------------
        - id: userms
          uri: http://localhost:8080
          predicates:
            - Path=/user/**
          filters:
            - TokenFilter

        # ---------------- CAR OWNER ----------------
        - id: carowner
          uri: http://localhost:8081
          predicates:
            - Path=/car-owners/**
          filters:
            - TokenFilter

        # ---------------- RENTER ----------------
        - id: renter
          uri: http://localhost:8081
          predicates:
            - Path=/renters/**
          filters:
            - TokenFilter

        # ---------------- KYC ----------------
        - id: kyc
          uri: http://localhost:8081
          predicates:
            - Path=/kyc/**
          filters:
            - TokenFilter
        # ---------------- VEHICLES ----------------
        - id: vehicles
          uri: http://localhost:8083
          predicates:
            - Path=/vehicles/**
          filters:
            - TokenFilter
        # ------------------dl-----------------------
        - id: drivinglicense
          uri: http://localhost:8082
          predicates:
            - Path=/dl/**
          filters:
            - TokenFilter
        # ------------------booking------------------
        - id: drivinglicense
          uri: http://localhost:8084
          predicates:
            - Path=/bookings/**
          filters:
            - TokenFilter
            

      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Origin Access-Control-Allow-Credentials RETAIN_UNIQUE

      globalcors:
        cors-configurations:
          '[/**]':
            allowed-origins:
              - "http://localhost:3000"
            allowed-methods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowed-headers: "*"
            allow-credentials: true

server:
  port: 9000

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka

# spring:
#   application:
#     name: gateway

#   cloud:
#     gateway:
#       routes:
#         - id: userms
#           uri: http://userms:8080
#           predicates:
#             - Path=/user/**
#           filters:
#             - TokenFilter

#         - id: carowner
#           uri: http://profile:8081
#           predicates:
#             - Path=/car-owners/**
#           filters:
#             - TokenFilter

#         - id: renter
#           uri: http://profile:8081
#           predicates:
#             - Path=/renters/**
#           filters:
#             - TokenFilter

#         - id: kyc
#           uri: http://profile:8081
#           predicates:
#             - Path=/kyc/**
#           filters:
#             - TokenFilter

#         - id: vehicles
#           uri: http://vehicle:8083
#           predicates:
#             - Path=/vehicles/**
#           filters:
#             - TokenFilter

#       default-filters:
#         - DedupeResponseHeader=Access-Control-Allow-Origin Access-Control-Allow-Credentials RETAIN_UNIQUE

#       globalcors:
#         cors-configurations:
#           '[/**]':
#             allowed-origins:
#               - "http://localhost:3000"
#             allowed-methods: "*"
#             allowed-headers: "*"
#             allow-credentials: true

# server:
#   port: 9000

# eureka:
#   client:
#     service-url:
#       defaultZone: http://serviceregistry:8761/eureka
