spring:
  application:
    name: userms

  datasource:
    url: jdbc:mysql://localhost:3306/userdb
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true

  mail:
    host: smtp.gmail.com
    port: 587
    username: mk9504400@gmail.com
    password: giculvqcssvxvtnv
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true


# Custom messages
USER_ALREADY_EXISTS: User with the given email already exists.
USER_NOT_FOUND: User with the given ID not found.
INVALID_CREDENTIALS: Invalid email or password.

server:
  port: 8080

